/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=League+Spartan:wght@100..900&display=swap');

/*aplica em toda a pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*corpo do site*/
body {
    font-family: 'Segoe UI', sans-serif;
    background: #0e0a1a;
    color: white;
}

/* Cabeçalho */
header {
    background: #0b0814;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    position: relative;
}

/*Personalizaçao da logo do Ludus*/
.logo img {
  max-height: 30px;
  max-width: 100%;
  height: auto;
}


/*Barra de navegaçao do topo*/
nav {
    display: flex;
    align-items: center;
    gap: 80px;
}

/*Estilizaçao de links*/
nav a {
    color: white;
    text-decoration: none;
}

a:not(.a-Button) {
    font-family: 'comfortaa', sans-serif;
    transition: color 0.3s ease;
}

a:hover:not(.a-Button) {
    color: #f4961e;
}

/*Botao de "Entrar" da barra de navegaçao*/
.a-Button {
    background: #c130ff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    font-family: 'League Spartan', sans-serif;
    transition: 0.5s ease all;
}

.a-Button:hover {
    background-color: #5b006d;
}

/*barra de pesquisa*/
.search-container {
    position: relative;
    width: 200px;
}

.search-container input {
    width: 100%;
    padding: 8px 30px 8px 10px;
    border-radius: 20px;
    border: none;
    background: #1b1629;
    color: white;
}

.search-container .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.search-container input:focus+.icon {
    opacity: 0;
}

/* Carrosel de imagens */
.carousel {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

/*classe de personalizaçao das imagens*/

.carousel-slide {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: absolute;
  }
  
  .carousel-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 22, 151, 0.5); /* fundo escuro translúcido */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
    padding: 20px;
  }
  
  .carousel-slide:hover .overlay {
    opacity: 1;
  }

  /*Personalizaçao do titulo do overlay*/
  span{
    color: #ccc;
  }

  .h2-overlay{
    font-family: 'Segoe UI', sans-serif;
    font-size: 50px;
    color: #f4961e;
  }
  
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100vw;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    flex-shrink: 0;
}

/*Navegaçao do carrosel*/
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(129, 11, 11, 0);
    color: white;
    border: none;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

/*Botoes de proximo e anterior*/
.nav.prev {
    left: 20px;
}

.nav.next {
    right: 30px;
}

/*Pontinhos do slider*/
.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: #f4961e;
}

/* Barra de navegaçao abaixo do slider */
.nav-center {
    background: #0a0714f7;
    color: white;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    font-size: 14px;
    align-items: center;
}

.nav-center a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-center a:hover {
    color: #f4961e;
}


/* Sobre jogos indie */
main {
  background-color: #0b0619; /* fundo escuro do site */
}

.container-pai{
    padding: 20px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-start {
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.cta-container {
  max-width: 800px;
  margin: 0 auto;
}

.cta-start h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.cta-start p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ccc;
}

.cta-buttons a {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.container img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.texto {
  flex: 1;
  min-width: 250px;
}

.texto h2 {
  color: #c535f2;
  margin-bottom: 10px;
  font-size: 28px;
}

.texto p {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

/* Rodape */
.footer-nav {
    background: #0a0714f7;
    color: white;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    font-size: 14px;
    align-items: center;
}

/*Barra de navegaçao do rodape*/
.footer-nav a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #f4961e;
}

.footer-nav .social-icons {
    display: flex;
    gap: 15px;
}

.footer-nav .social-icons a {
    color: #ccc;
    font-size: 30px;
}

.footer-nav .social-icons a:hover {
    color: #f4961e;
}