/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=League+Spartan:wght@100..900&display=swap');

/*aplica em toda a pagina*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

/*corpo do site*/
body {
  font-family: 'comfortaa', sans-serif;
  background: #0e0a1a;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Cabeçalho */
header {
  display: flex;
  background: #0b0814;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  position: relative;
  gap: 40px;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 1rem;
  cursor: pointer;
  border: 2px solid #fff; /* Borda branca pra destacar */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.user-avatar:hover {
  transform: scale(1.05);
}


/*Personalizaçao da logo do Ludus*/
.logo img {
  max-height: 50px;
  max-width: 100%;
  height: auto;
}

/*menu*/
menu {
  margin: 0 20px 0 0;
  float: right;
}

/* Links do menu */
menu a {
  text-decoration: none;
  color: white;
  padding: 15px 15px 15px 15px;
  margin: 0 2em 0 1em;
  /* superior | direita | inferior | esquerda */
  line-height: 70px;
}

menu a:hover {
  background-color: #cd3dff;
  border-radius: 25px;
  color: #fff;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 10px;
  float: right;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 700px) {
  label {
    display: block;
    cursor: pointer;
  }

  menu {
    text-align: center;
    width: 100%;
    display: none;
    position: static;
  }

  menu a {
    display: block;
    border-bottom: solid 1px white;
    margin: 0;
    padding: 0;
  }

  menu a:hover {
    color: #fff;
    background-color: #888;
  }

  #toggle:checked+menu {
    display: block;
  }
}

/* Login e Cadastro */
.container-text-pai-logpage {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #d9d9d9;
}

.log-page-background {
  background: url('../img/Montanhas.jpeg') no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;/* superior | direita | inferior | esquerda */
  animation: moveBackground 5s infinite alternate ease-in-out;/*Mover a imagem sem sair do lugar*/
}

/*Mover a imagem*/
@keyframes moveBackground {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 105%;
  }
}

#slogan {
  z-index: 1;
  width: 500px;
  text-align: justify;
  margin-left: 10%;
  font-size: 36px;
  font-family: 'League Spartan', sans-serif;
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 750px;
  /* Se mudar o height daqui mude o de log/cad tambem */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* Login e Cadastro */
.log,
.cad {
  /*section*/
  position: relative;
  height: 100vh;
  /*background-color: grey; */
  width: 100%;
  max-width: 45%;
  /*margin: 100px 5% 5% 1em;*/
  height: 750px;
  /* Se mudar o height mude o overlay tambem */
  float: right;
}

.log {
  padding: 40px 5% 5% 1em;
  /* superior | direita | inferior | esquerda */

}

.cad {
  padding: 60px 5% 11% 1em;
  /* superior | direita | inferior | esquerda */

}

#log,
#cad {
  /*article*/
  position: relative;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.30);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  box-shadow: #000000;
  transform: translate(-50%, -50%);
}

#log {
  /*Proporcao do container do login VERTICAL*/
  height: auto;
  padding-bottom: 40px;

}

#cad {
  /*Proporcao do container do cadastro VERTICAL*/
  height: auto;
  padding-bottom: 40px;

}

.error-message{
  background-color: #ff4d4d; 
  padding: 10px; 
  border-radius: 8px; 
  margin-bottom: 15px;
  margin-top: 15px;
}

input {
  padding: 5%;
  margin: 10px 10px 10px 10px;
  /* superior | direita | inferior | esquerda */
  border-radius: 20px;
  border: 1px solid rgb(153, 153, 153);
  width: 95%;
  box-sizing: border-box;
  background-color: #26203f;
  font-size: 15px;
  color: #d9d9d9;
  transition: box-shadow 0.3s ease;
}

input:focus {
  outline: none;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.6),
    0 0 4px #cd3dff;
}

input::placeholder {
  color: #afafaf;
}

#titulo {
  /*titulo de cadastro e login*/
  height: 70px;
  width: 100%;
  padding: 8% 0 6% 0;
  /* superior | direita | inferior | esquerda */
  margin-bottom: 15px;
  border-radius: 50px;
  background-color: #100a27;
}

#btn {
  /*botao de cadastro e login*/
  padding: 5%;
  margin: 4%;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 18px;
  width: 90%;
  box-sizing: border-box;
  background-color: #cd3dff;
  margin: 1em 0 2em 0;
  /* superior | direita | inferior | esquerda */
  font-family: 'comfortaa', sans-serif;
}

.login-return,
.cadastro-return,
.forgot-password {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #a86cf7;
  text-decoration: none;
  font-size: 0.95rem;
}


/*avaliacao de estrelas*/
.avaliacao {
 display: flex;
  width: 100px;
  height: 50px;
}

.star-icon {
  list-style-type: none;
  /*border:1px solid #fff;*/
  cursor: pointer;
  color: yellow;
}

.star-icon::before {
  /*cheio*/
  content: "\2605";
}

.star-icon.ativo~.star-icon::before {
  /*vazio*/
  content: "\2606";
}

.avaliacao:hover .star-icon::before {
  /*cheio*/
  content: "\2605";
}

.star-icon:hover~.star-icon::before {
  /*vazio*/
  content: "\2606";
}

/* pesquisa */
#search {
  padding: 15px 90px 15px 15px;
  /* superior | direita | inferior | esquerda */
  margin: 3em 3em 1em 3em;
  /* superior | direita | inferior | esquerda */
  border-radius: 40px;
  float: right;
}

/*Barra de navegaçao do topo*/

/*Menu hamburguer para dispositivos móveis*/
.hamburger {
  font-size: 1.8rem;
  display: none;
  cursor: pointer;
}

/*links da nav da index*/
.nav-links {
  display: flex;
  gap: 80px;
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

/* Layout responsivo */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1b1629;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
  }

  /*ligado ao JS, mostra os links do menu suspenso*/
  .nav-links.show {
    display: flex;
    z-index: 1;
  }

  .hamburger {
    display: block;
  }
}


nav {
  display: flex;
  align-items: center;
  gap: 80px;
}

/*Estilizaçao de links*/
nav a {
  color: #d9d9d9;
  text-decoration: none;
}

a:not(.a-Button) {
  transition: color 0.3s ease;
}

a:hover:not(.a-Button) {
  color: #f4961e;
}

/*Botao de "Entrar" da barra de navegaçao*/
.a-Button {
  background: #c130ff;
  color: white;
  text-align: center;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s ease all;
}

.a-Button:hover {
  background-color: #5b006d;
}

/*barra de pesquisa*/
.search-container {
  position: relative;
  width: 300px;
}

.search-container input {
  width: 100%;
  padding: 8px 30px 8px 10px;
  border-radius: 20px;
  border: none;
}

.search-container .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.search-container input:focus+.icon {
  opacity: 0;
}

/* Carrosel de imagens */
.carousel {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

/*classe de personalizaçao das imagens*/

.carousel-slide {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  flex-shrink: 0;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: absolute;
}

.carousel-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 22, 151, 0.5);
  /* fundo escuro translúcido */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
  padding: 20px;
}

.carousel-slide:hover .overlay {
  opacity: 1;
}

/*Personalizaçao do titulo do overlay*/
span {
  color: #ccc;
}

.h2-overlay {
  font-size: 50px;
  color: #f4961e;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100vw;
}

.carousel-images img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  flex-shrink: 0;
}

/*Navegaçao do carrosel*/
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(129, 11, 11, 0);
  color: white;
  border: none;
  font-size: 50px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

/*Botoes de proximo e anterior*/
.nav.prev {
  left: 20px;
}

.nav.next {
  right: 30px;
}

/*Pontinhos do slider*/
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: #f4961e;
}

/* Barra de navegaçao abaixo do slider */
.nav-center {
  background: #0a0714f7;
  color: white;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  font-size: 14px;
  align-items: center;
  flex: 1;
}

.nav-center a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-center a:hover {
  color: #f4961e;
}


/* Sobre jogos indie */
main {
  background-color: #0b0619;
  /* fundo escuro do site */
}

.container-pai {
  padding: 20px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-start {
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.cta-container {
  max-width: 800px;
  margin: 0 auto;
}

.cta-start h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.cta-start p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ccc;
}

.cta-buttons a {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.container img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.texto {
  flex: 1;
  min-width: 250px;
}

.texto h2 {
  color: #c535f2;
  margin-bottom: 10px;
  font-size: 28px;
}

.texto p {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

/* Sessão de Catálogo ----------*/
.filtro-pesquisa {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.categoria {
  padding: 2rem;
}

.categoria h2 {
  color: #cd3dff;
  margin-bottom: 1rem;
  font-family: "League Spartan", sans-serif;
  font-size: 2em;
}

.jogos {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.jogo-card {
  background-color: #1f1b2e;
  border-radius: 10px;
  padding: 1rem;
  width: 300px;
  text-align: center;
}

.jogo-card img {
  width: 100%;
  border-radius: 10px;
}

.jogo-card span {
  font-size: 0.75rem;
  background-color: #333;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  margin: 0.2rem;
  display: inline-block;
}

.avaliacoes,
.generos {
  padding: 2rem;
}

.avaliacao {
  background-color: #1f1b2e;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}

/* Layout principal com 2 colunas */
.conteudo {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

/* Coluna de conteúdo principal (jogos) */
.coluna-principal {
  flex: 3;
}

/* Coluna lateral direita */
.coluna-lateral {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Título da lateral */
.titulo-lateral {
  font-size: 2rem;
  color: #cd3dff;
  margin-bottom: 1rem;
  font-family: "League Spartan", sans-serif;
}

/* Avaliação Card */
.avaliacao-card {
  display: flex;
  background-color: #1a132d;
  border-radius: 10px;
  padding: 1rem;
  gap: 1rem;
  color: #eee;
  margin-bottom: 1rem;
}

.avaliacao-card img {
  width: 70px;
  height: 100px;
  border-radius: 6px;
}

.avaliacao-texto {
  flex: 1;
  font-size: 0.8rem;
  line-height: 2em;
}

.meta {
  display: flex;
  gap: 10px;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #aaa;
}

/* Gênero Recomendado */
.genero-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.genero-card img:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
  }
}
/* Botoes da selecao de genero */
.categoria_genero {
  position: relative;
  width: 220px;
  font-family: sans-serif;
}

.menu-toggle {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #26203f;
  color: #d9d9d9;
  border: 3px solid #26203f;
  border-radius: 40px;
  cursor: pointer;
  text-align: center;
}

.menu-opcoes {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #26203f;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  margin-top: 5px;
  z-index: 100;
}

.menu-opcoes button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  color: #d9d9d9;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.menu-opcoes button:hover {
  background-color: #3a2f5c;
}
/*Alinhando imagens dos botoes*/

.btn_img {
  padding: 0;
  border: none;
  background: none;
}

.btn_img img {
  display: block;
  width: 260px;   /* aumenta a largura */
  height: 370px;  /* aumenta a altura */
  object-fit: cover;
  border-radius: 8px;
}


/*--------------------------*/


/* Rodape */
.footer-nav {
  color: white;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 14px;
  align-items: center;
}
/* final */
footer {
  margin-top: auto;
  /* Mágica do flexbox */
  background-color: #070412;
  padding: 20px;
  width: 100%;
}
/*Barra de navegaçao do rodape*/
.footer-nav a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #f4961e;
}

.footer-nav .social-icons {
  display: flex;
  gap: 15px;
}

.footer-nav .social-icons a {
  color: #ccc;
  font-size: 30px;
}

.footer-nav .social-icons a:hover {
  color: #f4961e;
}